﻿<div class="col-sm-6 col-lg-4">
    <h4>Sign up</h4>
    <form ng-submit="$ctrl.submit()">
        <div class="form-group">
            <label>E-Mail</label>
            <input class="form-control" placeholder="E-Mail" type="email" required ng-model="$ctrl.formData.EMail" />
        </div>
        <div class="form-group">
            <label>Full name</label>
            <input class="form-control" placeholder="Full name" type="text" required ng-model="$ctrl.formData.FullName" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" placeholder="Password" required ng-model="$ctrl.formData.Password" />
        </div>
        <div class="form-group">
            <label>Confirm password</label>
            <input class="form-control" type="password" placeholder="Confirm password" required ng-model="$ctrl.formData.ConfirmPassword" />
        </div>
        <input class="btn btn-default" type="submit" />
    </form>
</div>