﻿<div class="col-sm-6 col-md-4">
    <ng-form name="chooseRecipient" ng-bind:submit="$ctrl.commitTransaction">
        <div class="form-group">
            <label>Enter name:</label>
            <input class="form-control" type="text" ng-model="$ctrl.search" 
                    ng-change="$ctrl.getReceiverSuggestions($ctrl.search)" />
        </div>
        <ul>
            <li ng-repeat="sugg in $ctrl.receiverSuggestions">
                {{sugg.FullName}}
            </li>
        </ul>
        <ng-form name="enterAmount" ng-if="$ctrl.selectedReceiver">
            <div class="form-group">
                <label>Enter amount:</label>
                <input class="form-control" type="number" ng-model="$ctrl.amount" />
            </div>
            <input type="submit" value="Commit" />
        </ng-form>
    </ng-form>
</div>