﻿<div class="col-md-12">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Second participant
                </th>
                <th>
                    Date
                </th>
                <th>
                    Amount
                </th>
                <th>
                    Residue
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tr in $ctrl.transactions">
                <td>{{tr.SecondParticipantName}}</td>
                <td>{{tr.Date}}</td>
                <td>{{tr.Amount}}</td>
                <td>{{tr.Residue}}</td>
            </tr>
        </tbody>
    </table>
</div>