﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>pw</title>
    <!--<script src="//npmcdn.com/angular@latest/angular.js"></script>
    <script src="//npmcdn.com/angular-ui-router@1.0.0-alpha.4/release/angular-ui-router.js"></script>-->
    <script src="js/vendors.js"></script>
    <script src="js/app.js"></script>   
    <link rel="stylesheet" href="twitter-bootstrap/css/bootstrap.min.css" />
</head>
<body ng-app="pw">
    <div class="container">
        <nav class="navbar navbar-default" role="navigation" ng-controller="headerActionsCtrl">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="isMenuVisible = !isMenuVisible">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="main">PW</a>
            </div>
            <div class="collapse navbar-collapse" uib-collapse="!isMenuVisible">
                <ul class="nav navbar-nav">
                    <li ng-if="!isLoggedIn" ui-sref-active="active"><a ui-sref="login">Log in</a></li>
                    <li ng-if="!isLoggedIn" ui-sref-active="active"><a ui-sref="register">Sign up</a></li>
                    <li ng-if="isLoggedIn"><a>{{accountInfo.FullName}}</a></li>
                    <li ng-if="isLoggedIn"><a>Balance: {{accountInfo.Amount}} PW</a></li>
                    <li ng-if="isLoggedIn" ng-click="logOut()"><a style="cursor:pointer;">Log out</a></li>
                </ul>
            </div>
        </nav>
        <!--<div style="position:fixed;top:0;left:0;right:0;margin:50px 10%;z-index:999;">
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.message}}</div>
        </div>-->
        <div class="row">
            <ui-view></ui-view>
        </div>
    </div>
</body>
</html>